<div class="container">
  <div class="row">
    <h1>Nuevo dato</h1>  
  </div>

  <div class="row">
    <%= render 'form', fact: @fact, action:'Crear' %>  
  </div>
  
</div>

<script type="text/javascript">
  
  $(document).ready(function(){
    

    $('#fact_real').change(function(){
      
      $("#resource_fact").val(''); //clear input

      if($('#fact_real').is(':checked'))
        $('#resource').show(); 
      else
        $('#resource').hide(); 
    });

  });

</script>
